
<footer>
        <section>
            <p>&copy 2018 Mag.Net | All Rights Reserved.</p>
        </section>
        <section>
            <p>
                <img src="https://image.flaticon.com/icons/svg/661/661224.svg" alt="It wasn't me! logo">
                Developed by Team Shaggy
            </p>
        </section>
        <section>
            <a href="https://github.com/Manaye/Mag.net">
                <img src="https://image.flaticon.com/icons/svg/9/9310.svg" alt="github log">
                Check out our repo!
            </a>
        </section>

    </footer>
