<header>
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
                <div id="sidebar">
                    <div class="toggle-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                    </div>
                        <ul>
                            <a href="/"><li>home</li></a>
                            <a href="/login"><li>login</li></a>
                            <a href="/register"><li>register</li></a>          
                        </ul>
                </div>
        <nav>
            <section class="brand">
                <a href="<%= '/' %>">Mag.Net</a>
            </section>
        </nav>
    </header>
    