<header>
        <nav>
            <section class="brand">
                <a href="<%= '/' %>">Mag.Net</a>
            </section>
            <section>
                  <% for(let link of links){%> 
                    <% if(url === '/'){%>
                       <div> <a href="#"><%= link ==='login'? '':'login  / register' %></a></div> 
                    <% } else if(url === '/login'){ %>
                        <a href="#"><%= link ==='login'? '':'register' %></a>
                    <% } else { %>
                        <a href="#"><%= link ==='register'? '':'login' %></a>
                   <% } %>
                   
                <%} %> 
            </section>
        </nav>
    </header>
    