<header>
        <nav>
            <section>
                <a href="<%= '/' %>">Mag.Net</a>

            </section>
            <section>
                <a href="#">Login</a>
                <a href="#">Register</a>
            </section>
        </nav>
    </header>
    