<header class="header">
    <nav class="headerNav">
        <section class="headerLogo">
            <a href="<%= '/' %>">Mag.Net</a>
        </section>

        <section class='headerLinks'>
            <a href="#">Login</a>
            <span>/</span>
            <a href="#">Register</a>
        </section>
    </nav>
</header>
    