<!DOCTYPE html>
<html>
        <%- include('../partials/head') %>
<body>
        <%- include('../partials/header') ; %>
 <main>
     <figure>
            <img id="fridgeImg" src =  "img/fridges.png ">

     </figure>
 </main>
        <%- include('../partials/footer'); %>

</body>

</html>