<!DOCTYPE html>
<html>
        <%- include('../../partials/head') %>
<body>
        <%- include('../../partials/header') ; %>
 <main>
     <figure>
            <img id="fridgeImg" src =  "img/fridges.png ">

     </figure>

     <p><%= data %></p>
 </main>
        <%- include('../../partials/footer'); %>

</body>

</html>