<!DOCTYPE html>
<html>
    <%- include('./../views/partials/head.ejs') %>
<body>
    <h2>We on index y'all!</h2>
    <!--%= data.title %-->
    <!--%= data.author %-->
    <!--%= data.description %-->

    <script src="./js/app.js"></script>
</body>
</html>