<!DOCTYPE html>
<html>
    <%- include('./../views/partials/head.ejs') %>
<body>
    <header>
        <nav>
            <section>
                <a href="<%= '/' %>">Mag.Net</a>

            </section>
            <section>
                <a href="#">Login</a>
                <a href="#">Register</a>
            </section>
        </nav>
    </header>

    <main>
        <h1>We on index.ejs y'all</h1>
    </main>

    <footer>
        <section>
            <p>&copy 2018 Mag.Net | All Rights Reserved.</p>
        </section>

    </footer>

    <script src="./js/app.js"></script>
</body>
</html>