<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
<body>

 <%- include('partials/header') %>
    <main>
        <section>
            <h1>Mag.Net - The future of communication.</h1>
            <img src="./img/kitchen.jpg" alt="A sweet kitchen">
        </section>
        <section>
            <div>
                <h2>Here's how it works:</h2>
            </div>
            <div>
                <h3>1. You have a fridge.</h3>
                <img src="./img/openFridge.jpg" alt="An open fridge.">
            </div>
            <div>
                    <h3>2. You have a magnet.</h3>
                    <img src="./img/magnetWall.jpg" alt="A wall of magnets.">
            </div>
            <div>
                <h3>3. Magnetfridge!</h3>
                <img src="./img/closedFridge.jpg" alt="A fridge with magnets">
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>
