<!DOCTYPE html>
<html>
    <%- include('./../views/partials/head.ejs') %>
<body>

 <%- include('partials/header') %>
    <main>
        <section>
            <h1>This is where the main magnet functionality will be!</h1>
            <img src="https://via.placeholder.com/500" alt="">
        </section>
        <section>
            <div>
                <h2>Mag.Net is the only fridge magnet site that lets you drag and drop fridge magnets</h2>
                <img src="https://via.placeholder.com/250" alt="">
            </div>
            <div>
                    <h2>Mag.Net will send you alerts when a magnet message has been posted to the fridge.</h2>
                    <img src="https://via.placeholder.com/250" alt="">
            </div>
            <div>
                <h2>Mag.Net is the best way to communicate with all of your friends!</h2>
                <img src="https://via.placeholder.com/250" alt="">
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>
