<!DOCTYPE html>
<html>
    <%- include('./../views/partials/head.ejs') %>
<body>
    <%= data.title %>
    <%= data.author %>
    <%= data.description %>

    <script src="./js/app.js"></script>
</body>
</html>