<!DOCTYPE html>
<html>
    <%- include('./../views/partials/head.ejs') %>
<body>
    <%- include('./../views/partials/header.ejs) %>

    <main>
        <section>
            <h1>Mag.Net. Where you can connect.</h1>
            <button>Call to Action!</button>
            <img src="https://via.placeholder.com/500" alt="">
        </section>
        <section>
            <div>
                <h2>Mag.Net is the only fridge magnet site that lets you drag and drop fridge magnets</h2>
                <img src="https://via.placeholder.com/250" alt="">
            </div>
            <div>
                    <h2>Mag.Net will send you alerts when a magnet message has been posted to the fridge.</h2>
                    <img src="https://via.placeholder.com/250" alt="">
            </div>
            <div>
                <h2>Mag.Net is the best way to communicate with all of your friends!</h2>
                <img src="https://via.placeholder.com/250" alt="">
            </div>
        </section>
    </main>

    <footer>
        <section>
            <p>&copy 2018 Mag.Net | All Rights Reserved.</p>
        </section>
        <section>
            <p>
                <img src="https://image.flaticon.com/icons/svg/661/661224.svg" alt="It wasn't me! logo">
                Developed by Team Shaggy
            </p>
        </section>
        <section>
            <a href="https://github.com/Manaye/Mag.net">
                <img src="https://image.flaticon.com/icons/svg/9/9310.svg" alt="github log">
                Check out our repo!
            </a>
        </section>

    </footer>

    <script src="./js/app.js"></script>
</body>

</html>
